$breakpoint-sm: 540px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

$breakpoints: (
  'sm': $breakpoint-sm,
  'md': $breakpoint-md,
  'lg': $breakpoint-lg,
  'xl': $breakpoint-xl,
  '2xl': $breakpoint-2xl,
);

@mixin breakpoint-sm-down {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}
@mixin breakpoint-sm-up {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}
@mixin breakpoint-md-down {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}
@mixin breakpoint-md-up {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin breakpoint-lg-down {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}
@mixin breakpoint-lg-up {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}
@mixin breakpoint-xl-down {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}
@mixin breakpoint-xl-up {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}
@mixin breakpoint-2xl-down {
  @media (max-width: $breakpoint-2xl) {
    @content;
  }
}
@mixin breakpoint-2xl-up {
  @media (min-width: $breakpoint-2xl) {
    @content;
  }
}
